label {
  color: var(--neutral-grey-400);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 16px 0 5px 0;
  &.inline {
    margin-right: 16px;
    font-size: 16px;
    font-weight: 400;
  }
}

.invalid-feedback {
  display: none;
}

input, select {
  font-family: Inter, sans-serif;
  &:not([type="checkbox"]):not([type="radio"]) {
    display: flex;
    height: 44px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--neutral-grey-400, #707178);
    background: var(--neutral-white, #fff);
    width: 100%;
    box-sizing: border-box;
    color: var(--neutral-grey-400, #707178);
    font-size: 16px;
  &[type="textarea"] {
    height: 100px; // temporary, haven't found an example yet in the mockups
  }
    &::placeholder {
      color: var(--neutral-grey-300, #91929d);
      font-size: 16px;
    }
    &:active,
    &:focus {
      border-color: var(--pressed-blue, #5c70a1);
      color: var(--pressed-blue, #5c70a1);
      outline: none;
      ~ i {
        color: var(--pressed-blue, #5c70a1);
      }
    }
    &:focus-visible,
    &:hover {
      border-color: var(--branding-primary-600);
      outline: solid 1.5px var(--branding-primary-600);
    }
    &:disabled {
      background-color: var(--neutral-grey-200);
      color: var(--neutral-grey-400, #707178);
      pointer-events: none;
    }
    &.icon-left {
      padding-left: 40px;
      & ~ i {
        left: 2px;
        right: auto;
      }
    }
  }
  &.is-invalid {
    border-color: var(--wcag-red) !important;
    & ~ i {
      &::before {
        color: var(--wcag-red);
      }
    }
    &:focus {
      border-color: var(--wcag-red) !important;
      outline: solid 1px var(--wcag-red) !important;
    }
    ~ .invalid-feedback {
      color: var(--wcag-red);
      display: block;
      font-size: 12px;
      margin-top: 4px;
      padding: 2px 0 0 28px;
      position: relative;
      min-height: 24px;
      &::before {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iI2FkMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0wLDE5MmE4OCw4OCwwLDEsMSw4OC04OEE4OC4xLDg4LjEsMCwwLDEsMTI4LDIxNlptMTYtNDBhOCw4LDAsMCwxLTgsOCwxNiwxNiwwLDAsMS0xNi0xNlYxMjhhOCw4LDAsMCwxLDAtMTYsMTYsMTYsMCwwLDEsMTYsMTZ2NDBBOCw4LDAsMCwxLDE0NCwxNzZaTTExMiw4NGExMiwxMiwwLDEsMSwxMiwxMkExMiwxMiwwLDAsMSwxMTIsODRaIj48L3BhdGg+PC9zdmc+");
        height: 24px;
        width: 24px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &[type="date"] {
    &::-webkit-calendar-picker-indicator {
      // hide default icon
      filter: invert(1);
      width: 42px;
      height: 38px;
    }
  }
}

select {
 // css to remove the gradient that safari puts in a select field
    -webkit-appearance: none;
  option {
    height: 44px;
    background-color: var(--neutral-white, #fff);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--branding-primary-900, #212935);
  }

}


@mixin select-wrap-icon {
  > i, > .click-icon i {
    background-color: var(--neutral-white, #fff);
    color: var(--branding-primary-900, #212935);
    position: absolute;
    right: 16px;
    top: 12px;
    padding-left: 12px;
    max-height: 22px;
    border-left: 1px solid var(--neutral-grey-400, #707178);
    pointer-events: none;
    text-align: center;
    font-style: normal;
  }

  [type="search"] ~ i {
    border: none;
  }
  select ~ i {
    padding-right: 16px;
    right: 1px;
    top: 14px
  }
}

.select-wrap,
.input-group {
  position: relative;

  .btn-icon.click-icon {
    position: absolute !important;
    right: 1px;
    top: 2px;
    width: 50px;
    height: 40px;

    i {
      left: 12px;
      right: 0;
      background-color: transparent;
    }
  }

  .lg-icon {
    font-size: 21px;
  }
  @include select-wrap-icon;

  .input-icon {
    @include select-wrap-icon;
  }

  &.date-width {
    width: 150px;
  }
}

@mixin select-wrap-currency {
  > i {
    height: 42px;
    max-height: 42px;
  }
  &.currency {
    i {
      left: 1px;
      right: auto;
      border-left-width: 0;
      border-right: 1px $gray-400 solid;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    input[type="text"] {
      padding-left: 45px;
    }
  }
}

.select-wrap {
  width: 100%;

  .input-icon {
    @include select-wrap-currency;
  }
}

fieldset {
  border: none;
  padding: 0;
  legend {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.disabled {
  cursor: not-allowed !important;
}

.checkbox-container label,
.radio-container label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  cursor: pointer;
}

.checkbox-container.disabled label {
  cursor: not-allowed !important;
}

.radio-extra-label.empty {
  display: none;
}
.radio-label-container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding-top: 5px;
}

.checkbox-label {
  color: var(--neutral-grey-500);
  display: inline-block;
}

.radio-label {
  color: var(--color-black);
  display: inline-block;
}

.radio-extra-label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: var(--neutral-grey-500);
}

.checkbox-container,
.radio-container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin-left: -11px;
  margin-right: 16px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.checkbox-container input,
.radio-container input {
  cursor: pointer;
}

.checkbox-container input:disabled,
.radio-container input:disabled {
  cursor: not-allowed;
}

.radio-container {
  align-items: flex-start;
}

.radio-graphic.disabled,
.checkbox-graphic.disabled {
  background-color: var(--disabled-form-field);
  border: none;
  outline: none !important;
  cursor: not-allowed;
  animation: none !important;
}

.checkbox-input,
.radio-input {
  opacity: 0;
  height: 100%;
  width: 100%;
}

.checkbox-graphic {
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  margin: 12px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  position: relative;
}

.radio-graphic {
  box-sizing: border-box;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ffffff00;
  outline: var(--neutral-grey-400) solid 2px;
  margin: 12px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  position: relative;
  display: flex;
}

.radio-graphic:active,
.checkbox-graphic:active {
  animation: ripple 0.2s ease-in forwards;
}

.radio-graphic.focus,
.radio-graphic:hover {
  outline: var(--neutral-grey-400) solid 3px;
}
.radio-graphic.checked {
  background-color: var(--color-primary);
  border: 2px solid var(--neutral-white);
  outline: var(--color-primary) solid 2px;
}
.radio-graphic.checked.focus,
.radio-graphic.checked:hover {
  outline: var(--color-primary) solid 3px;
}
.radio-graphic.disabled {
  height: 18px;
  width: 18px;
  background-color: var(--disabled-form-field);
}

.checkbox-graphic.focus,
.checkbox-graphic:hover {
  outline: var(--color-primary) solid 1px;
}
.checkbox-graphic.checked {
  background-color: var(--color-primary);
  outline: var(--color-primary) solid 1px;
}
.checkbox-graphic.checked.focus,
.checkbox-graphic.checked:hover {
  outline: var(--color-primary) solid 2px;
}
.checkbox-graphic .checkmark {
  visibility: hidden;
}
.checkbox-graphic.checked .checkmark {
  visibility: visible;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  right: 4.5px;
}
.checkbox-graphic.checked.disabled .checkmark {
  border: solid var(--color-primary);
  border-width: 0 1.5px 1.5px 0;
  top: 1px;
  margin-right: 1px;
}
.checkbox-graphic.disabled {
  background-color: var(--disabled-form-field);
  border: none;
  outline: none;
  animation: none;
}
