.ph-duotone {
  color: rgb(60, 84, 142);
  font-size: 26px;
  font-family: "Phosphor-Duotone";
  flex-shrink: 0;
}

.icon-container {
  border-radius: 0.3rem 0rem;
  max-width: 40px !important; 
  max-height: 64px !important;
  height: 64px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.annotation5 {
  background-color: var(--annotation-5);
}

.annotation4 {
  background-color: var(--annotation-4);
}

.annotation3 {
  background-color: var(--annotation-3);
}

.annotation2 {
  background-color: var(--annotation-2);
}
